@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "/fonts/fonts.css";

/* Custom css bootstrap */
@media (min-width: 1300px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {max-width: 1230px; }
}

@media (min-width: 1600px) {
    .container {max-width: 1530px; }
}

/* Main css */
html, body {padding: 0; margin: 0; font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; font-size: 14px; background: #081730; color: #fff; }
a {color: #fff; text-decoration: none; }
a:hover {text-decoration: none; }
ul,p {padding: 0; margin: 0; }
li {list-style: none; float: left; }
img {max-width: 100%; }
.btn{ color: #fff;}

::-webkit-scrollbar {width: 5px; height: 5px; }
::-webkit-scrollbar-thumb {background-color: #666; border-radius: 6px; background-clip: padding-box; min-height: 28px; }

* {box-sizing: border-box; }

/* Block */
.block, .block-wrapper {position: relative; border-radius: 0 0 100px 100px; }

.block-title {font-size: 40px; padding: 45px 0 60px; }
.block-title .block-subtitle { font-family: "SofiaPro-Bold"; }
.border-title {width: 12px; height: 54px; background: url('/public/img/decoration/border-title.png') no-repeat; background-size: cover; }

.block-header-right {display: flex; align-items: center; color: white; text-align: right; }
.block-header-meta {margin-right: 27px; }
.block-header.block-header-start .block-header-right {text-align: left; }
.block-header.block-header-start .block-header-right {justify-content: flex-start; }
.block-header.block-header-start .block-header-meta {margin-right: 0; margin-left: 27px; }

/* Common */
.arrow-down {display: inline-block; margin-left: 0.255em; vertical-align: 0.255em; content: ''; border-top: 0.3em solid; border-right: 0.3em solid transparent; border-bottom: 0; border-left: 0.3em solid transparent; }
.arrow-right {width: 0; height: 0; border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-left: 5px solid #ff9959; }

.t-red {color: #bf2a0b; }
.t-dark {color: #000; }
.t-violet {color: #da4fd9; }
.t-yellow {color: #c0870b; }
.t-blue {color: #1a7ab9; }
.t-green {color: #2ba637; }
.t-orange {color: #a15223; }
.t-red-bold {color: #934144; }
.t-sliver {color: #7d7d7d; }
.t-bold {font-weight: 600; }

/* Nav */
nav {display: flex; width: 100%; }
.header {background: transparent; font-size: 18px; padding-top: 45px; position: fixed; width: 100%; left: 0; top: 0; transition: .5s; z-index: 1000; }
.header .menu-mobile .fa-bars{ width: 25px; color: #fff; font-size: 25px;}
.header .menu-mobile:hover{ cursor: pointer; }
.header.stuck{ background: #102344; height: 70px; padding: 0; }
.header.stuck .navbar{ padding: 13px 0;}
.header.stuck .header-action{ padding: 9px 0;}
.header .menu-mobile{ display: none; }
.header .navbar .logo img{ width: auto !important;}
.header ul li {padding: 0 14px; line-height: 50px; }
.header .float-xl-left li a{ font-family: "SofiaPro-Regular"; }
.header .float-xl-right li a span {color: #ffc102; }
.header .float-xl-right li .btn {border-radius: 50px; padding: 5px 25px; background: linear-gradient(to right, #ff5f29 0%, #ffb000 100%); border: 0; color: #fff; font-size: 18px; -webkit-box-shadow: -3px 10px 15px -2px rgba(255, 95, 41, 0.6); box-shadow: -3px 10px 15px -2px rgba(255, 95, 41, 0.6); }
.header .float-xl-right li .register {background: linear-gradient(to right, #0052ff 0%, #2eccff 100%); -webkit-box-shadow: -3px 10px 15px -2px rgba(0, 82, 255, 0.6); box-shadow: -3px 10px 15px -2px rgba(0, 82, 255, 0.6); }
.header .float-xl-right li .dropdown-toggle {background: transparent; border: 1px solid #2489fd; box-shadow: none; }
.header .float-xl-right li .number {border: 1px solid #2489fd; padding: 5px 15px; border-radius: 50px; }
.header .float-xl-right li a, .header .float-xl-right li a .btn{ font-size: 14px; }
.header .float-xl-right li a.download{ font-size: 18px; }
.header .float-xl-right .account-not-login{ display: inline-flex; }
.btn-radius {cursor: pointer; background: rgba(40, 43, 47, 0.5); border: 1px solid #707070; box-shadow: 0 3px 12px rgb(38 68 152 / 10%); border-radius: 47px; padding: 0 16px; font-weight: 600; font-size: 14px; height: 37px; line-height: 37px; text-align: center; color: white; }

.btn-coin span {color: #fab408; }

.account-btn {height: 100%; font-size: 14px; color: #fff; margin: 0 10px; display: inline-block; }
.account-btn.active {border-radius: 25px; background: linear-gradient(90deg, #4071d7, #344da7); }

.download {color: white; cursor: pointer; position: relative; }
.box-qr {position: absolute; display: none; border-radius: 10px; width: 200px; position: absolute; left: 50%; top: 100%; transform: translate(-50%); padding: 20px; text-align: center; }
.box-transparent {backdrop-filter: blur(5px); background: rgba(25, 27, 32, 0.5); border: 1px solid #444548; box-shadow: 3px 3px 6px rgb(0 0 0 / 75%); }
.download .box-qr {line-height: normal; }
.download:hover .box-qr {display: block; }

.box-desc {color: #fc9b65; }
.box-line {height: 2px; background: #4b4c4f; margin: 10px 0; width: 100%; }

.download-qr {margin-bottom: 10px; }

.box-link {display: block; color: #fff; background: #fc9b65; border-radius: 22px; height: 37px; line-height: 37px; }
.box-link:hover {box-shadow: 0 3px 12px rgb(155 46 252 / 40%); }

#dropdown-basic {display: flex; justify-content: center; align-items: center; min-width: 80px; border-radius: 30px; padding: 10 20px; border: 1px solid #2454c6; color: #fff; background: transparent; font-size: 14px; font-weight: 600; }

.language {font-size: 14px; color: #fff; padding: 10px 0; line-height: 50px; }
.language .dropdown-menu {backdrop-filter: blur(5px); background: rgba(25, 27, 32, 0.5); transition: none; min-width: 80px; border-radius: 10px; overflow: hidden; color: white; }
.language .dropdown-item {height: 30px; text-align: center; line-height: 30px; font-weight: 600; color: white; padding-top: 0; padding-bottom: 0; font-size: 12px; }
.language .dropdown-item:hover {background-color: rgb(29, 43, 80); }

.account {font-size: 14px; }
.account-login {position: relative; color: white; height: 60px; line-height: 60px; }
.account-meta {display: flex; align-items: center; }
.account-name {margin-left: 10px; font-size: 12px; }
.account-box {position: absolute; width: 200px; border-radius: 10px; left: 50%; top: 60px; transform: translate(-50%); overflow: hidden; display: none; line-height: normal; }
.account-login:hover .account-box {display: block; }
.account-link {display: flex; justify-content: space-between; align-items: center; padding: 15px; }
.account-link:hover {background: linear-gradient(90deg, rgba(36, 84, 198, 0.2), rgba(18, 42, 99, 0.2) ); }
.account-item-last .account-link {justify-content: center; }
.account-item-last .account-link .img-logout {margin: 0 5px; display: flex; align-items: center; }

.label-line {display: inline-block; width: 3px; height: 11px; background: #ff9959; opacity: 1; border-radius: 2px; margin-right: 10px; }

/* Our game */
.block-ourgame {background: #202226 url('/public/img/posts/block-post-bg.png'); background-size: cover; background-position: center center; background-repeat: no-repeat; width: 100%; height: 100%; padding: 50px 0; }
.block-ourgame .block-title {display: flex; align-items: center; }
.block-ourgame .block-header.block-header-start .block-header-meta {margin-left: 0; }
.block-ourgame .block-header.block-header-start .block-title img {width: 24px; }
.block-ourgame .block-title span {margin-left: 10px; color: white; }

.ourgame-item {background: #282b2f; border-radius: 10px; overflow: hidden; }
.ourgame-feature {cursor: pointer; position: relative; border-radius: 10px; overflow: hidden; height: 200px; }
.ourgame-img-bg {position: relative; z-index: 1; }
.ourgame-img-bg img {width: 100%; height: 100%; padding-top: 5%; object-fit: cover; transition: 0.2s ease-in-out; transform: scale(1); }
.ourgame-img-title {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 180px; z-index: 2; }
.ourgame-img-title img {width: 100%; }
.ourgame-feature:hover .ourgame-img-bg img {transform: scale(1.1); transition: 0.2s ease-in-out; }
.ourgame-meta {padding: 30px 20px; color: white; }
.ourgame-meta {display: flex; align-items: center; justify-content: space-between; }
.ourgame-title {font-weight: 600; display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1; -webkit-box-orient: vertical; }
.ourgame-subtitle {font-size: 12px; }
.ourgame-link {color: #fc9b65; font-weight: 600; text-align: right; font-size: 12px; }
.ourgame-slide {position: relative; }
.ourgame-arrow {position: absolute; top: 50%; transform: translateY(-50%); z-index: 1; width: 30px; cursor: pointer; }
.ourgame-left, .mobo-left {left: -50px; }
.ourgame-right, .mobo-right {right: -50px; transform: translateY(-50%) rotate(180deg); }

/* Hero */
#hero-spine {width: 100%; height: 100%; position: relative; z-index: 2; }
.hero-wrap {width: 230px; height: 230px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }
.block-hero {padding: 10% 0 5%; }
.block-hero .block-header {display: flex; align-items: center; justify-content: space-between; }

.slogan img {max-width: 794px; }

.mobo-meta {display: flex; color: white; border: 1px solid #34363b; box-shadow: 0 5px 4px rgb(0 0 0 / 76%); border-radius: 10px; margin-bottom: 30px; }
.mobo-spine {background: linear-gradient(145deg, #30bafd, #c320ff); border-radius: 10px; box-shadow: 0 3px 12px rgb(38 68 152 / 10%); opacity: 1; position: relative; width: 300px; height: 300px; }
.mobo-spine::before {content: ''; position: absolute; background: #282b2f; left: 3px; top: 3px; bottom: 3px; right: 3px; z-index: 0; border-radius: 10px; }
.mobo-meta-right {width: calc(100% - 300px); display: flex; justify-content: center; flex-direction: column; align-items: center; }
.mobo-line-name img {width: 30px; }
.name-first, .name-last {margin: 0 10px; font-size: 18px; font-weight: 600; }
.mobo-sub {margin-top: 10px; }
.mobo-evution {display: flex; align-items: center; justify-content: center; }
.mobo-evution img {width: 120px; }
.mobo-item-slide {position: relative; padding: 10px 0; cursor: pointer; }
.mobo-item-slide img {width: 100%; }
.mobo-item-slide .lightMobo {position: absolute; z-index: 1; width: 85px; height: 85px; top: -8px; left: -50%; transform: translateX(19px); transition: all 0.5s; opacity: 0; }
.mobo-item-slide .moboAva {position: relative; z-index: 2; filter: grayscale(1); opacity: 0.4; transition: all 0.5s; }
.mobo-item-slide.active .lightMobo {transition: all 0.5s; opacity: 1; }
.mobo-item-slide.active .moboAva {filter: grayscale(0); opacity: 1; transition: all 0.5s; transform: translateY(-4px); }
.wrap-slide-mobo {position: relative; }
.light-box {position: absolute; max-width: 154px; }
.light-box-hero {left: 0; top: 0; }
.epic-header .block-header-meta {margin: 0 0 0 27px; }
.block-epic .block-header-right.epic-header {text-align: left; justify-content: flex-start; }

/* Epic */
.block-epic {padding: 5% 0 10%; }
.epic-meta {position: relative; min-height: 296px; }
.epic-bg {position: absolute; bottom: 0; left: 50%; transform: translateX(-53%); width: 100%; z-index: 1; max-width: 1000px; }
.epic-meta-wrap {position: relative; z-index: 2; padding-bottom: 34px; }
.epic-ava {position: relative; max-width: 280px; height: 280px; margin: 0 auto; }
.epic-ava-main {width: 100%; height: 100%; object-fit: contain; z-index: 2; position: relative; }
.epic-ava .epic-shadown {position: absolute; bottom: -20px; left: 0; width: 280px; z-index: 1; }
.epic-infor {color: white; display: flex; flex-direction: column; justify-content: center; height: 100%; }
.epic-title {font-family: 'Oswald Stencil', sans-serif; white-space: nowrap; font-size: 55px; font-weight: bold; }
.epic-line {max-width: 300px; margin: 10px 0; }
.epic-desc {max-width: 500px; min-height: 110px; }
.epic-slide {margin-top: 50px; }
.wrap-slide-epic {position: relative; }
.epic-slide-item {padding-top: 60px; cursor: pointer; }
.epic-slide-img {position: relative; }
.epic-slide-bg {width: 85%; height: 82px; background: #2e2e2e; border: 2px solid; -o-border-image: linear-gradient(0deg, transparent, transparent) 2 2; border-image: linear-gradient(0deg, transparent, transparent) 2 2; z-index: 1; bottom: 0; transform: skew(15deg); margin: 0 auto; transition: all 0.3s linear; }
.epic-slide-item.active .epic-slide-bg {-o-border-image: linear-gradient(0deg, #1b1c1d, #1578ff) 2 2; border-image: linear-gradient(0deg, #1b1c1d, #1578ff) 2 2; transition: all 0.3s linear; }
.epic-slide-head {position: absolute; z-index: 2; text-align: center; bottom: 20px; width: 100%; }
.epic-slide-head .epic-img-shadown {position: absolute; bottom: -20px; left: 50%; transform: translateX(-50%); z-index: 1; }
.epic-slide-head img {width: 70%; }
.epic-slide-head .epic-img {z-index: 2; position: relative; }
.epic-slide-title {color: white; width: 80%; margin: 0 auto; font-size: 12px; text-align: center; margin-top: 10px; }
.epic-arrow {position: absolute; top: 50%; transform: translateY(-50%); width: 35px; cursor: pointer; }
.epic-prev {left: -45px; }
.epic-next {right: -45px; }
.light-box-epic-top {top: 0; right: 0; transform: rotate(180deg); }
.light-box-epic-bottom {bottom: 0; left: 0; }

/* Eco */
.block-eco {padding: 5% 0; position: relative; }
.eco-tab {margin-top: 20px; }
.eco-nav {padding: 5px 10px; background: linear-gradient(315deg, rgba(73, 160, 253, 0.23), rgba(167, 61, 254, 0.23) ); box-shadow: 0 5px 4px rgb(0 0 0 / 76%); border-radius: 10px; }
.eco-nav .nav-item a {cursor: pointer; width: 100%; height: 69px; background: #282b2f; box-shadow: 0 3px 12px rgb(38 68 152 / 10%); border-radius: 10px; margin-top: 20px; display: flex; justify-content: center; align-items: center; color: white; transition: all 0.3s linear; }
.eco-nav .nav-item:last-child a {margin-bottom: 20px; }
.eco-nav .nav-item a.active {background: url('/img/decoration/selectbg.6cba0abc.png') no-repeat; background-size: cover; transition: all 0.3s linear; }
.eco-tab-content {height: 100%; }
.block-eco .tab-content,
.block-eco .tab-content .tab-pane {height: 100%; }

.about-tab-content .nav-link {width: 169px; height: 96px; overflow: hidden; position: relative; margin: 15px auto 0; border-radius: 10px; padding: 0; cursor: pointer; border: 1px solid transparent; transition: all 0.3s linear; }
.about-tab-content .nav-link.active {background-color: transparent; border: 1px solid #fab408; box-shadow: 0 5px 4px rgb(0 0 0 / 76%); transition: all 0.3s linear; }
.about-item-thumbnail .video-thumb {width: 100%; height: 100%; object-fit: cover; position: relative; z-index: 1; }

.btn-play {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 30px; z-index: 2; }
.video-iframe {height: 100%; overflow: inherit; }

.about-tab-content .tab-pane {height: 100%; }
.about-tab-content .row {height: 100%; }
.about-tab-content .nav {height: 100%; justify-content: center; }
.about-tab-content .nav .nav-item:first-child .nav-link {margin-top: 0; }

.title-box {background: rgba(40, 43, 47, 0.5); border: 1px solid hsla(0, 0%, 43.9%, 0.5); box-shadow: 0 3px 12px rgb(38 68 152 / 10%); border-radius: 10px; text-align: center; font-weight: 700; padding: 8px 0; margin-bottom: 20px; }
.title-box-name {font-weight: 600; }
.title-box-value {color: rgb(250, 180, 8); font-weight: 600; }

.tab-desc {margin-top: 40px; }

.process-img {height: 350px; }
.process-img img {width: 100%; height: 100%; object-fit: contain; }

.creator-pane {height: 100%; width: 100%; border: 6px solid #a73dfe; box-shadow: 0 5px 4px rgb(0 0 0 / 76%); border-radius: 10px; position: relative; }
.creator-logo {position: absolute; display: flex; justify-content: center; align-items: center; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 240px; height: 90px; background: linear-gradient(315deg, rgba(73, 160, 253, 0.8), rgba(167, 61, 254, 0.8) ); box-shadow: 0 5px 4px rgb(0 0 0 / 76%); border-radius: 10px; }
.creator-logo img {width: 30%; margin-right: 10px; }
.creator-logo-title, .creator-logo-desc {font-weight: 600; }
.creator-logo-desc {color: #fab408; }

.roadmap-content {width: 100%; height: 475px; display: flex; flex-direction: column; overflow: auto; }
.roadmap-content .stage:last-child {margin-bottom: 0; }

.stage {display: flex; position: relative; padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid #34363b; }

.quater {display: flex; }
.quater-icon {width: 25px; margin-right: 20px; }
.quater-icon img {width: 100%; }
.quater-tile {width: 100px; color: #fab408; font-weight: 600; }

.stage-status {position: absolute; top: 0; right: 4px; font-weight: 600; color: #fab408; }
.task-item.complete {text-decoration: line-through; }

/* Partners */
.block-partners {padding: 100px 0; }
.partners-header.block-header-right {justify-content: flex-start; }
.partners-header .block-header-meta {margin: 0 0 0 27px; text-align: left; }
.partner-item {width: 100%; height: 100px; overflow: hidden; text-align: center; display: flex; align-items: center; justify-content: center; }
.partner-item img {height: 40px; object-fit: contain; }
.partner-list {margin-top: 20px; }

/* Feature ship */
.block-ship-feature {padding-bottom: 1%; }

.ship-item-wrap {margin-bottom: 20px; }
.ship-item {padding: 10px; border: 1px solid #353444; border-radius: 8px; display: block; }
.ship-item:hover {color: white; background: #353444; }
.ship-item-header {display: flex; justify-content: space-between; align-items: center; }
.ship-item-header .ship-id {font-size: 11px; margin: 0; padding: 4px 10px; }
.ship-item-header .ship-type {text-transform: capitalize; font-size: 12px; font-weight: 600; }
.ship-item-content .ship-body {margin: 18% 0; }
.ship-item-content .ship-body img {width: 60%; margin: 0 auto; }
.ship-item-footer .ship-stat {display: flex; align-items: center; justify-content: space-between; }
.ship-item-footer .ship-stat .stat-box {width: calc(25% - 2px); text-align: center; }
.ship-item-footer .ship-stat .stat-box .stat-icon {margin-bottom: 2px; }
.ship-item-footer .ship-stat .stat-box .stat-icon img {width: 50%; }
.ship-item-footer .ship-name {font-size: 14px; }
.ship-item-footer .ship-name {margin-top: 5px; text-align: center; }

/* Single ship */
.block-ship-detail {padding: 5% 0; }
.block-ship-detail .block-header {display: flex; justify-content: space-between; margin-bottom: 20px; }

.btn-ship-detail {color: #ababab; padding: 8px 20px; border-color: #ababab; }
.btn-ship-detail:hover {background: white; }

.ship-summary {display: flex; flex-direction: column; height: 100%; justify-content: flex-end; }
.ship-preview-row {display: flex; margin-bottom: 20px; }
.ship-id, .ship-medal {padding: 4px 15px; background: #1a61f3; border-radius: 3px; margin-right: 10px; }
.ship-name {font-family: 'Oswald Stencil', sans-serif; font-size: 2rem; font-weight: 600; word-spacing: 5px; }
.ship-preview-apartment {margin: 20px 0; }
.ship-body img {width: 100%; }
.ship-equip {height: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column; }
.ship-equip-box {width: 100px; height: 100px; border-radius: 4px; background: #070d14; margin: 10px 0; position: relative; }
.ship-equip-box::before {content: ''; display: block; background-size: contain; background-position: center center; background-repeat: no-repeat; width: 70%; height: 70%; position: absolute; z-index: 1; top: 50%; left: 50%; transform: translate(-50%, -50%); opacity: 0.2; }
.ship-equip-bullet::before {background-image: url('/img/ship-detail/weapons.png'); }
.ship-equip-shield::before {background-image: url('/img/ship-detail/armor.png'); }
.ship-equip-sp1::before {background-image: url('/img/ship-detail/missile.png'); }
.ship-equip-sp2::before {background-image: url('/img/ship-detail/missiles.png'); }

.equip-hold {width: 100%; height: 100%; }
.ship-infor-panel {width: 100%; }
.infor-panel-header {display: flex; align-items: center; margin-bottom: 10px; }
.infor-panel-title {color: #bcbcbc; font-size: 20px; font-weight: 600; width: 25%; }
.infor-panel-content {background: #2d2d2d; padding: 10px; border-radius: 6px; margin-bottom: 20px; }
.infor-panel-content .row {margin-left: -3px; margin-right: -3px; }
.infor-panel-content .row > div {padding-left: 3px; padding-right: 3px; }

.rank-list {display: flex; font-size: 16px; }
.rank-list li {margin: 0 10px; font-weight: 500; }

.panel-box {margin-bottom: 10px; }
.panel-box-header {display: flex; margin-bottom: 10px; }
.panel-box-title {color: #7d7d7d; text-transform: uppercase; font-weight: 500; }
.header-box-title {font-size: 16px; }

.header-box-icon {width: 20px; margin-right: 5px; }
.header-box-icon img {width: 100%; }

.panel-box-title {margin-bottom: 5px; }
.panel-box-header-part .header-box-icon {width: 34px; height: 45px; display: flex; align-items: center; padding: 2px; }
.panel-box-header-part .header-box-icon img {width: 100%; height: 100%; object-fit: contain; }

.part-content {background: #363636; border-radius: 4px; overflow: hidden; }
.part-content-title {background: #464646; color: white; text-transform: uppercase; font-size: 11px; font-weight: 600; padding: 4px; text-align: center; }
.part-content-stats {display: flex; justify-content: space-between; align-items: center; }
.part-content-stats, .part-desc {padding: 5px; }

.part-desc {font-size: 11px; }

.part-col {margin-bottom: 10px; }
.part-col .panel-box {height: 100%; display: flex; flex-direction: column; margin-bottom: 0; }
.part-col .panel-box-content {flex: 1 1 auto; }
.part-col .part-content {height: calc(100% - 55px); }

.ship-body {display: flex; align-items: center; height: 100%; }
.ship-body img {width: 100%; }
.part-stat {width: 30px; height: 30px; line-height: 30px; position: relative; background-color: #303030; }
.part-stat span {position: relative; z-index: 2; width: 100%; height: 100%; display: block; text-align: center; font-size: 15px; font-weight: 500; }
.part-stat:not(.part-stat-icon)::before {content: ''; width: 100%; height: 100%; background-size: 70% 70%; background-repeat: no-repeat; background-position: center center; background-image: url('/img/ship-detail/weapons.png'); text-align: center; position: absolute; top: 0; left: 0; z-index: 1; opacity: 0.3; }
.part-stat-icon img {width: 100%; height: 100%; object-fit: contain; }
.part-stat.part-stat-icon {background: transparent; width: calc(100% - 70px); height: 56px; }

/* Archive ship */
.block-archive-ship {padding: 0 0 5%; }
.archive-summary {padding: 16px 0; border-width: 1px; border-style: solid; border-image: linear-gradient(270deg, #050511 1%, #fff0a5 50%, rgba(255, 239, 160, 0) ) 100% 0 100% 0/1px 0 1px 0 stretch; margin-bottom: 100px; display: flex; flex-wrap: wrap; align-items: center; justify-content: space-around; width: 100%; }

.summary-box {text-align: center; }
.summary-title {color: #52607b; font-weight: 500; font-size: 18px; line-height: 22px; }
.summary-value {color: #fff; font-size: 36px; line-height: 36px; margin-top: 8px; font-family: 'Oswald Stencil', sans-serif; }

.filter-table {background-color: #353444; border-radius: 8px; padding: 30px 15px 10px; }
.filter-header {display: flex; align-items: center; justify-content: space-between; margin-bottom: 20px; }

.btn-clear-filter {font-size: 11px; padding: 6px 10px; border-radius: 3px; border: 1px solid #7fffd4; cursor: pointer; color: #7fffd4; text-align: center; font-weight: 500; }
.btn-clear-filter:hover {background: #7fffd4; }

.filter-title {font-weight: 600; }
.filter-box-header {position: relative; text-align: center; margin-bottom: 15px; }
.filter-box-header span {display: inline-block; padding: 0 15px; background-color: #353444; position: relative; z-index: 2; }
.filter-box-header::before {content: ''; width: 100%; position: absolute; left: 0; bottom: 8px; border-top: 1px dashed grey; }
.filter-list {display: flex; flex-wrap: wrap; }
.filter-item {display: flex; align-items: center; width: 50%; cursor: pointer; margin-bottom: 5px; }
.filter-item-label {position: relative; margin-right: 4px; display: flex; align-items: center; }
.filter-item-label input {width: 14px; height: 14px; position: relative; z-index: 1; }
.filter-item-title {font-weight: 600; }

.ship-list-pagination {display: flex; justify-content: center; margin-top: 20px; }

.page-link {background-color: transparent; color: white; border-color: #353444; width: 40px; height: 40px; padding: 0; line-height: 40px; text-align: center; font-size: 14px; }
.page-item.active .page-link {background-color: #353444; }
.page-link:hover, .page-link:focus {color: #fff; background-color: #353444; border-color: #0d6efd; }

/* Slider */
.home-content .block-slider {position: relative; z-index: 250; }
.home-content .block-slider .banner-img {position: relative; overflow: hidden; }
.home-content .block-slider .banner-img .img-left {position: absolute; bottom: 10%; left: 5%; }
.home-content .block-slider .banner-img .img-right {position: absolute; top: 0%; right: -11%; }
.home-content .block-slider .content {position: absolute; width: 670px; max-width: 100%; left: 50%; top: 35%; margin-left: -335px; color: #fff; }
.home-content .block-slider .content .title, .home-content .block-slider .content .note {font-size: 90px; color: #2489fd; font-family: "SofiaPro-Bold"; }
.home-content .block-slider .content .note {color: #ffc102; }
.home-content .block-slider .content .text {font-size: 33px; font-family: "SofiaW03-UltraLight"; font-weight: 700; }
.home-content .block-slider .content .image{ margin-top: 20px;}

/* Experience */
.home-content .block-experience {padding: 180px 0 100px 0; background: url('/images/Background1.png') no-repeat center; background-size: cover; position: relative; z-index: 207; margin-top: -100px; }
.home-content .block-experience .block-content .block-experience-item {position: relative; height: 100%; padding: 50px 50px 100px 50px; border-radius: 15px; background: rgb(11, 85, 184); background: radial-gradient(circle, rgba(11, 85, 184, 1) 0%, rgba(59, 0, 128, 1) 100% ); }
.home-content .block-experience .block-content .col-md-4:first-child .block-experience-item {background: url("/images/Experience-1.svg") no-repeat center; background-size: cover; }
.home-content .block-experience .block-content .col-md-4:last-child .block-experience-item {background: url("/images/Experience-3.svg") no-repeat center; background-size: cover; }
.home-content .block-experience .block-content .block-experience-item .content {display: flow-root; position: absolute; width: 100%; bottom: 10px; left: 0px; padding: 0 50px; }
.home-content .block-experience .block-content .block-experience-item .content .item-title {font-size: 22px; font-family: "SofiaPro-Bold"; }
.home-content .block-experience .block-content .block-experience-item .content .item-title .sub-title {font-size: 15px; font-family: "SofiaW03-UltraLight"; }
.home-content .block-experience .block-content .block-experience-item .content .btn { font-family: "SofiaPro-Bold"; position: absolute; bottom: 0; right: 50px; font-size: 11px; border-radius: 50px; background: #ff731f; padding: 5px 30px; }

/* Marketplace */
.home-content .block-marketplace {background: url('/images/Background3.png') no-repeat center; padding: 200px 0 100px 0; margin-top: -100px; background-size: cover; position: relative; z-index: 206;}
.home-content .block-marketplace .block-content {position: relative; }
.home-content .block-marketplace .block-content .block-intro-item .content {font-size: 18px; padding-top: 25px; color: #ff5f29; font-family: "SofiaPro-Regular"; }
.home-content .block-marketplace .block-content .block-intro-item .content .item-title p:first-child{ color: #fff; font-weight: 700; }
.home-content .block-marketplace .block-content .block-intro-item .content .price span{ display: inline-block;}
.home-content .block-marketplace .block-inrto-nft{ display: flex; margin-top: 60px; }
.home-content .block-marketplace .block-inrto-nft .ntf-logo{ z-index: 10; float: left;  }
.home-content .block-marketplace .block-inrto-nft .intro-nft-content{ font-family: Montserrat; font-weight: 500; float: right; width: 1300px; max-width: 100%; z-index: 1; margin-left: -100px; background: rgb(56,13,94); background: radial-gradient(circle, rgba(56,13,94,1) 0%, rgba(6,2,9,1) 100%); padding: 50px 100px 30px 125px; font-size: 42px; color: #FFC102; }
.home-content .block-marketplace .block-inrto-nft .intro-nft-content .text{ font-family: Sofia-Pro-UltraLight; color: #fff; font-size: 22px; }

/* Ecosystem */
.home-content .block-ecosystem{ background: url('/images/Background6.png') no-repeat center; padding: 200px 0 100px 0; margin-top: -100px; z-index: 202; }
.home-content .block-ecosystem .list-item-tab{ display: flow-root; background: #25274A; padding: 40px 20px; border-radius: 20px; height: 100%; position: relative; }
.home-content .block-ecosystem .list-item-tab::before{ position: absolute; content: ""; width: 100%; height: 100%; left: 0; top: 0; background: url('/images/Mask_Group_6.png') no-repeat center; background-size: cover; border-radius: 20px; }
.home-content .block-ecosystem .list-item-tab .list-item .item{ position: relative; width: 100%; margin: 10px 0; }
.home-content .block-ecosystem .list-item-tab .list-item .item .btn{ display: block; padding: 25px 15px; border-radius: 10px; border: 1px solid #fff; color: #FFC102; font-size: 26px; font-family: "SofiaPro-Regular"; }
.home-content .block-ecosystem .content{ height: 100%; background: #333654; padding: 100px; border: 2px solid #25274A; }
.home-content .block-ecosystem .content .circular{ position: relative; margin-bottom: 40px; display: inline-block; padding: 30px; border-radius: 50%; background: #25274A; }
.home-content .block-ecosystem .content .circular .youtube{ position: absolute; width: 100%; top: 44%; left: 0; }
.home-content .block-ecosystem .content .circular .CircularProgressbar .CircularProgressbar-path{ stroke: #B24EFF; }
.home-content .block-ecosystem .content .progress{ border-radius: 50px; margin-top: 30px; }
.home-content .block-ecosystem .content .progress .progress-bar{ width: 70%; }
.home-content .block-ecosystem .content .control img:hover{ cursor: pointer; }

/* Adver */
.home-content .block-adver{ padding: 200px 0 100px 0; margin-top: -100px; position: relative; z-index: 205; background: url('/images/Background3.png') no-repeat center; background-size: cover; }
.home-content .block-adver .block-content .block-item{ width: 320px; max-width: 100%; background: url('/images/bg_play_earn.svg') no-repeat center; padding: 40px 25px !important; }
.home-content .block-adver .block-content .block-item .title{ font-size: 38px; color: #FFC102; }
.home-content .block-adver .block-content .block-item .text{ font-size: 13px; font-family: Sofia-Pro-UltraLight; }
.home-content .block-adver .block-content .block-item .btn{ font-family: "Montserrat"; font-weight: 600; font-size: 9px; background: #5855BE; padding: 5px 30px; border-radius: 50px; margin-top: 25px; }

/* OurGames */
.home-content .block-gaming{ padding: 200px 0 100px 0; background: #232A4E; position: relative; margin-top: -100px; z-index: 204; }
.home-content .block-gaming::before{ position: absolute; content: ""; width: 100%; height: 100%; background: url('/images/Mask_Group_9.png') no-repeat center; border-radius: 0 0 100px 100px; top: 0; left: 0; opacity: 0.5;}
.home-content .block-gaming .nft-item{ padding: 30px; border: 1px solid #fff; border-radius: 15px; }
.home-content .block-gaming .nft-slider .item{ padding-top: 45px; display: block !important; }
.home-content .block-gaming .nft-slider .item img{ display: inline-block;}
.home-content .block-gaming .nft-abi{ position: relative; font-family: "SofiaPro-Regular"; background: url('/images/Mask_Group_5.png') no-repeat center; background-size: cover; padding: 25px 15px; border: 1px solid #707070; border-radius: 15px; margin-top: 50px; }
.home-content .block-gaming .nft-abi .title{ font-size: 40px; color: #FFC102; padding-top: 15px; }
.home-content .block-gaming .nft-abi .btn{ font-size: 26px; color: #FFC102; background: url('/images/btn-bg.svg') no-repeat center; width: 100%; background-size: cover; padding: 25px 0; }
.home-content .block-gaming .slick-next{ right: 15px;}
.home-content .block-gaming .slick-prev{ left: -15px; z-index: 100;}

/* Resources */
.home-content .block-resources{ position: relative; z-index: 203; padding: 200px 0 100px 0; background: url('/images/Background5.png') no-repeat center; background-size: cover; margin-top: -100px; }
.home-content .block-resources .resources-left .item{ background: url('/images/BoxShip.svg') no-repeat center; background-size: cover; padding: 20px; border: 1px solid #707070; }
.home-content .block-resources .resources-left .last .item{ background: none; border:none; }
.home-content .block-resources .resources-right{ padding-left: 100px; }
.home-content .block-resources .resources-right .form-search{ margin-bottom: 45px; }
.home-content .block-resources .resources-right .form .form-outline{ margin-right: 30px; width: 83%; margin-right: 4%; }
.home-content .block-resources .resources-right .form .form-control{ background: #020917; color: #707070; font-size: 20px; border-radius: 15px; padding: 30px 20px; font-family: Sofia-Pro-UltraLight; border: 0; }
.home-content .block-resources .resources-right .form .form-control::placeholder{ color: #707070; font-family: Sofia-Pro-UltraLight; }
.home-content .block-resources .resources-right .form .btn{ width: 13%; border-radius: 15px !important; background: rgb(46,204,255); background: linear-gradient(27deg, rgba(46,204,255,1) 0%, rgba(0,82,255,1) 100%); }
.home-content .block-resources .resources-right .form .btn .fa-search{ font-weight: 500; font-size: 25px; }
.home-content .block-resources .resources-right .block-title .text{ font-size: 26px; color: #707070; font-family: Sofia-Pro-UltraLight; font-weight: 700; }

/* Vision */
.home-content .block-vision{ padding: 200px 0 100px 0; background: url('/images/Background7.png') no-repeat center; position: relative; margin-top: -100px; z-index: 201; }
.home-content .block-vision .item{ padding: 35px; background: url('/images/bg-nft.svg') no-repeat center; border-radius: 50%; }
.home-content .block-vision .col:last-child .item{ background: none;}
.home-content .block-vision .item .note a{ font-size: 25px; font-family: "SofiaPro-Bold"; color: #2489FD; }
.home-content .block-vision .block-title, .home-content .block-gallery .block-title{ padding-bottom: 30px; }
.home-content .block-vision .text, .home-content .block-gallery .text, .home-content .block-community .text{ font-size: 26px; font-family: "Sofia-Pro-UltraLight"; font-weight: 700; }

/* Gallery */
.home-content .block-gallery{ padding: 200px 0; margin-top: -100px; background: url('/images/bg_anim.png') no-repeat center; position: relative; z-index: 200; }
.home-content .block-gallery .snowfall {filter: blur(1px); opacity:0.7; height: 100%; width: 100%; left: 0; top: 0; position: absolute; }
.home-content .block-gallery::before{ position: absolute; z-index: 10; content: ""; background: url('/images/bg-galllery.png') no-repeat bottom left; width: 100%; height: 100%; left: 0; top: 0; }
.home-content .block-gallery .content{ position: relative; z-index: 100; background: url('/images/bg-text.png') no-repeat center; background-size: cover; padding: 61px 35px; }
.home-content .block-gallery .content .block-title{ padding-top: 0; }

/* Community */
.home-content .block-community{ padding: 200px 0 100px 0; z-index: 100; margin-top: -100px; overflow: hidden; }
.home-content .block-community .background{ width: 100%; height: 100%; overflow: hidden; position: absolute; left: 0; top: 0; z-index: -1; transform: translate3d(0,0,0) scale(1.25); background: url('/images/Background9.png') no-repeat center; background-size: cover; animation:zoomIn 10s linear infinite alternate;}
@keyframes zoomIn {
    0% { transform:scale(1); }
    100% { transform:scale(1.5); }
}
.home-content .block-community .title{ font-size: 60px; font-family: "SofiaPro-Bold"; }
.home-content .block-community .title span{ color: #FFC102; }
.home-content .block-community .btn{ padding: 10px 100px; font-size: 26px; background: linear-gradient(#2ECCFF, #1B9AFF); border-radius: 100px; margin-top: 30px; }

/* News */
.home-content .block-news{ background: url('/images/BackgroundLightBlue.png') no-repeat top center; background-size: cover; padding: 100px 0; z-index: 201; }
.home-content .block-news .block-content{ padding-left: 50px; }
.home-content .block-news .block-content .item-content .news-item{ display: flex; padding-bottom: 20px; }
.home-content .block-news .block-content .item-content .news-item .number{  font-family: "SofiaPro-Regular"; color: #FFC102; font-size: 53px; padding-right: 50px; position: relative; }
.home-content .block-news .block-content .item-content .news-item .number::after{ position: absolute; content: "2021-09-27"; font-family: "SofiaPro-Regular"; font-size: 8px; color: rgba(255,107,35,1); transform: translate(-0.372px, 0px) matrix(1,0,0,1,37.3721,39) rotate(-90deg); transform-origin: center; left: 10px; top: 0px; width: 43px; }
.home-content .block-news .block-content .item-content .news-item .detail{ font-size: 40px; font-family: "SofiaPro-Regular"; }
.home-content .block-news .block-content .item-content .news-item .detail .console{ font-size: 15px; color: #707070 ; font-family: "Sofia-Pro-UltraLight"; font-weight: 600; }

/* Download */
.home-content .block-download{ padding: 100px 0; z-index: 200; background: url('/images/Mask_Group_7.png') no-repeat center; }

.block-login-form{ padding: 100px 0 200px 0;}
.block-login-form .login-box {margin-top: 120px; max-width: 600px; height: 320px; border: 1px solid #9C9C9C; background-color: #EAEAEA; }
.block-login-form .login-box .form {padding: 20px; }

/* Footer */
.footer img{ max-width: 100%; }
.footer .copy-right{ padding-top: 150px; margin-top: -100px; background: url('/images/Mask_Group_8.png') no-repeat center; position: relative; }
.footer .copy-right .img-content{  position: absolute; width: 10%; left: 45%; top: 33%; }
.footer .copy-right .blog-content{ position: absolute; width: 100%; left: 0; bottom: 50px; }
.footer .copy-right .blog-content span{ color: #707070; }

.scrollTop { z-index: 10000; position: fixed; right: 2%; bottom: 10px; background: #230374; padding: 15px 20px; opacity: 0; transition: all 0.4s ease-in-out 0s; }
.scrollTop a {font-size: 18px; color: #fff; }
.scrollTop:hover{ cursor: pointer; }

.slick-next:before, .slick-prev:before{ font-size: 50px; color: #ff5f29; transition: 0.3s; border-radius: 50%; }
.slick-prev{ left: -50px; }

@media (max-width: 1400px) {
    .home-content .block-slider .banner-img .adv-right{ right: -28%; }
    .home-content .block-slider .content .title, .home-content .block-slider .content .note{ font-size: 60px;}
    .home-content .block-slider .content .text{ font-size: 25px; }
  
    .home-content .block-experience .block-content .block-experience-item .content{ padding: 0 15px;}
    .home-content .block-experience .block-content .block-experience-item .content .btn{ right: 15px; padding: 5px 15px;}
  
    .home-content .block-marketplace .block-inrto-nft .intro-nft-content{ margin-left: -100px; padding: 20px 50px 30px 40px; font-size: 35px; }
  
    .home-content .block-gaming .nft-abi .title{ font-size: 30px;}
    .home-content .block-gaming .nft-abi{ background-position: left;}
  
    .home-content .block-vision .item{ background-size: cover; }
  
    .home-content .block-gallery::before{ background-position: center bottom; }
  
    .home-content .block-resources .resources-right{ padding-left: 50px;}
    .home-content .block-resources .resources-right .block-title{ font-size: 35px;}
    .home-content .block-resources .resources-right .block-title .text{ font-size: 20px;}
  }
  
  @media (max-width: 1200px) {
    .block{ padding: 160px 0 60px 0 !important; }
    .block-title{ font-size: 30px; padding: 40px 0; }
    
    .col-block{ display: contents; }
    
    .navbar, .container-fluid{ display: flow-root; padding: 0;}
    
    .header{ padding: 10px 0; font-size: 15px; display: flex; }
    .header .menu-mobile{ padding: 0 15px; display: flow-root; }
    .header.stuck .menu-bars-mobile{ font-size: 30px; line-height: 70px; }
    .header .navbar{ display: none; background: #404872; padding-bottom: 15px; width: 100%; left: 0; top: 70px; position: fixed; }
    .header .navbar .header-meta{ padding-left: 15px; }
    .header .navbar ul li{ width: 100%; line-height: 35px; padding: 0; }
    .header .navbar ul li .btn{ font-size: 15px; }
    .header .navbar .header-action li{ width: 50%; padding: 5px; }
    .header .navbar .header-action li a, .header .navbar .header-action li a .btn{ width: 100%; display: flow-root; }
    .header .navbar .float-xl-right li .number{ line-height: 20px; }
    .header .navbar .float-xl-right li a.download,   .header .navbar .float-xl-right li .dropdown{ border: 1px solid #2489fd; border-radius: 50px; text-align: center; }
    .header .navbar .float-xl-right li .dropdown .btn{ border: 0; padding: 0; }
    .header .navbar .header-action li a .login, .header .navbar .header-action li a .register{ font-size: 17px; }
  
    .home-content .block-slider{ margin-top: 70px; padding-top: 0 !important; }
    .home-content .block-slider .banner-img .adv-left { bottom: 7%; left: 0%; width: 200px; height: 150px; }
    .home-content .block-slider .banner-img .adv-right{ right: 0; }
    .home-content .block-slider .content .title, .home-content .block-slider .content .note{ font-size: 40px; }
    .home-content .block-slider .content .text{ font-size: 20px; }
    .home-content .block-slider .content .image img{ width: 100px; }
  
    .home-content .block-experience{ padding: 100px 0 60px 0 !important;}
    .home-content .block-experience .block-content .block-experience-item{ padding: 20px; min-height: 200px; }
    .home-content .block-experience .block-content .block-experience-item .content .btn{ position: initial; }
  
    .home-content .block-marketplace .block-content .block-intro-item .content{ font-size: 15px; }
    .home-content .block-marketplace .block-inrto-nft .ntf-logo img{ height: 100%; }
    .home-content .block-marketplace .block-inrto-nft .intro-nft-content{ margin-left: -85px; padding: 20px 100px; }
    .home-content .block-marketplace .block-inrto-nft .intro-nft-content .text br{ display: none; }
    .home-content .block-marketplace .block-inrto-nft{ margin-top: 40px; }
    .home-content .block-marketplace .block-inrto-nft .intro-nft-content{ margin-left: -50px; padding: 20px 50px; }
    
    .home-content .block-adver{ padding: 50px 0;}
    .home-content .block-adver .block-content .block-item{ margin: 0 15px;}
  
    .home-content .block-gaming{ padding: 150px 0 50px 0;}
  
    .home-content .block-ecosystem .list-item-tab .list-item .item .btn{ padding: 10px; }
    .home-content .block-ecosystem .content{ padding: 25px; }
    .home-content .block-ecosystem .content .control{ margin-top: 30px; }
  
    .home-content .block-vision, .home-content .block-download{ padding: 100px 0; }
    .home-content .block-vision .item{ background: none; padding: 0; }
  
    .home-content .block-community .title{ font-size: 45px; }
    .home-content .block-vision .text, .home-content .block-gallery .text, .home-content .block-community .text{ font-size: 22px; }
  
    .home-content .block-news{ padding: 80px 0 !important;}
    .home-content .block-news .block-content{ padding: 0; }
    .home-content .block-news .block-content .item-content .number{ font-size: 45px !important; }
    .home-content .block-news .block-content .item-content .number::after{ left: 5px !important; }
    .home-content .block-news .block-content .item-content .detail{ font-size: 35px !important; }
    .home-content .block-news .block-content .item-content .detail .console{ font-size: 13px !important; }
    
    .home-content .block-resources{ padding: 160px 0 60px 0; }
    .home-content .block-resources .resources-right{ padding: 50px 0 0 0; }
    .home-content .block-resources .resources-right .form .form-outline{ margin-right: 1%;}
    .home-content .block-resources .resources-right .form .btn{ width: 10%;}

    .footer .copy-right .img-content{ width: 20%; left: 40%; top: 17%; }
  }

  @media (max-width: 1024px) {
    .home-content .block-marketplace .block-content .block-intro-item{ padding: 0 15px;}

    .slick-next{ right: 5px;}
    .slick-prev{ left: -25px;}
  }
  
  @media(max-width:  992px) {
    .block, .footer .copy-right{ border-radius: 0; padding: 50px 0 !important; margin: 0 !important; }

    .home-content .block-slider{ padding: 0 !important;}

    .home-content .block-vision .item{ padding-bottom: 30px; }
  
    .home-content .block-ecosystem .list-item-tab .list-item .item .btn{ font-size: 20px; }
  
    .home-content .block-gallery .content{ padding: 20px; border-radius: 15px; }
  }
  
  @media(max-width:  768px){
    .block{ padding: 50px 0 !important; }
    .d-flex{ display: flow-root !important; }
    .block-title{ font-size: 27px; padding: 25px 0; }
  
    .home-content .block-slider .banner-img .adv-left{ left: 0; width: 100px; }
    .home-content .block-slider .banner-img .adv-right{ width: 150px; }
    .home-content .block-slider .content{ top: 27%; left: 0; margin: 0; }
    .home-content .block-slider .content .title, .home-content .block-slider .content .note{ font-size: 22px; }
    .home-content .block-slider .content .text{ font-size: 12px; }
    .home-content .block-slider .content .image{ margin-top: 10px; }
    .home-content .block-slider .content .image img{  width: 70px;  }
  
    .home-content .block-experience{ padding: 40px 0; }
  
    .home-content .block-marketplace{ padding: 50px 0; margin: 0;  }
    .home-content .block-marketplace .block-intro-item .img{ padding: 15px; }
    .home-content .block-marketplace .block-content .block-intro-item .content{ padding: 0; }
    .home-content .block-marketplace .block-inrto-nft .intro-nft-content{ margin: 0; padding: 20px; font-size: 25px; }
    .home-content .block-marketplace .block-inrto-nft .intro-nft-content .text{ font-size: 17px; }
  
    .home-content .block-gaming{ margin: 0; padding: 50px 0; }
    .home-content .block-gaming .nft-abi .btn{ padding: 45px 0; }
  
    .home-content .block-experience .block-content .block-experience-item{ min-height: 250px; height: 250px; margin-top: 20px; }
  
    .home-content .block-adver .block-content .block-item{ min-height: 400px; width: 100%; margin: 0; }
  
    .home-content .block-ecosystem, .home-content .block-gallery, .home-content .block-vision, .home-content .block-download, .home-content .block-community, .home-content .block-news{ padding: 50px 0 !important; margin: 0; }
  
    .home-content .block-ecosystem .list-item-tab{ padding: 10px 5px; }
    .home-content .block-ecosystem .list-item-tab .list-item .item .btn{ font-size: 15px; }
  
    .home-content .block-community .title{ font-size: 35px; }
    .home-content .block-community .img { text-align: center; }
    .home-content .block-vision .text, .home-content .block-gallery .text, .home-content .block-community .text{ font-size: 15px; }
  
    .home-content .block-news .block-content .item-content .news-item{ padding-bottom: 10px;}
    .home-content .block-news .block-content .item-content .number{ font-size: 35px !important; padding-right: 30px; }
    .home-content .block-news .block-content .item-content .number::after{ top: -15px !important; left: -15px !important;  }
    .home-content .block-news .block-content .item-content .detail{ font-size: 20px !important; }
  
    .home-content .block-ecosystem .content{ padding: 10px; }
  
    .home-content .block-resources .resources-left .item{ margin-bottom: 10px; }
    .home-content .block-resources .resources-right .block-title{ font-size: 27px; }
    .home-content .block-resources .resources-right .block-title .text{ font-size: 17px; }
    
    .footer .copy-right .blog-content{ width: 90%; left: 5%; bottom: 10px; }
    .footer .copy-right .blog-content .content{ font-size: 12px; }
    .footer .copy-right .img-content{ width: 25%; left: 37.5%; top: 7%; }
  }
  
  @media(max-width:  575px){
    .header .menu-mobile{ padding: 0; }
    .header .header-action ul li .account-btn{ margin: 0; font-size: 14px; }
    .header .header-action ul li .btn{ padding: 5px 15px;}

    .home-content .block-gaming .slick-next{ right: 0;}

    .home-content .block-resources .resources-right .form .form-control{ padding: 10px; font-size: 17px;}

    .block-download .img-app img{ width: 100%; }

    .slick-next:before, .slick-prev:before{ font-size: 35px;}
    .slick-prev{ left: -10px;}
  }
